.DS_Store
node_modules
dist
coverage

# local env files
.env.local
.env.*.local

# log files
*.log

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vitepress
docs/.vitepress/cache
docs/.vitepress/dist
