.vp-playground {
  .vp-playground__method {
    display: block;
    margin-top: 1rem;
  }
  .vp-playground__response {
    margin: 1rem 0;
    padding: 1rem;
    border: 0.0625rem solid var(--c-border);
    border-radius: 4px;
  }
  table {
    display: table;
    width: 100%;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    color: var(--c-text);
    display: inline-block;
    border: 1px solid var(--c-border);
    border-radius: 4px;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    outline: none;
    transition: all .2s ease;
    &:focus {
      cursor: auto;
      border-color: var(--c-brand);
    }
  }
  button {
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: var(--c-brand);
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    transition: opacity .1s ease;
    box-sizing: border-box;
    border: 1px solid var(--c-brand);
    &:hover {
      opacity: .7;
    }
    &:active {
      opacity: .5;
    }
    &:disabled, &[disabled] {
      cursor: not-allowed;
    }
  }
}